<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{the_mass['i18n'].string}} | {{data['date'].date.strftime('%Y')}} | {{translate('catholic-mass-readings', lang).string}}</title>
    <meta name="description" content="{{translate('readings-from-the-gospel-for-the-catholic-mass-according-to-the-liturgy-calendar-', lang).string}} {{the_mass['i18n'].string}}, {{data['date'].date.strftime('%Y')}} {{translate('with-picture', lang).string}} {{the_illustration['illustration'].caption}}.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.missale.net/rss/feed?lang={{lang}}&form={{data['form']}}" />
    <link rel="canonical" href="http://www.missale.net{{url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang)}}">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/webflow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/missale.webflow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/missale-print.css" media="print">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Lato:100,300,400,700,900", "Open Sans:300,400,600,700,800"]
            }
        });
    </script>
    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4900184670214000004_favicon.png">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4b499bd27b767000001_webclip.png">
    <meta name="google-site-verification" content="LPLr98PKcDGB4mcbWAAtCdSnrGUX1MmdLraUFss3hk4" />
</head>
<body>
<header class="header-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-hidden-small w-hidden-tiny header-image">
                <div class="logo">MISSALE.NET</div>
                <div class="subtitle">
                    {% if data['form'] == 'of' %}
                    {{translate("lectio-1969", lang).string}}
                    {% else %}
                    {{translate("lectio-1962", lang).string}}
                    {% endif %}
                </div>
            </div>
            <div class="w-col w-col-6 title" itemscope="" itemtype="http://schema.org/Event">
                <h1 itemprop="name">{{the_mass['i18n'].string}}</h1>
                <div class="w-row">
                    <div class="w-col w-col-7 w-col-small-6">
                        <div class="metadata-text" itemprop="startDate">{{readable_date(data['date'].date, lang)}}</div>
                    </div>
                    <div class="w-col w-col-5 w-col-small-6">
                        <div class="metadata-text right">
                            {% if data['form'] == 'of' %}
                            {{translate({'ABC':'year-abc','A':'year-a','B':'year-b','C':'year-c'}[the_mass['mass'].cycle], lang).string}} &nbsp;
                            {% endif %}
                            {{translate(slugify(the_mass['mass'].season), lang).string}}
                        </div>
                    </div>
                </div>
                <meta itemprop="location" content="{{translate('your-parish-church', lang).string}}"/>
            </div>
        </div>
    </div>
</header>
<div class="w-container container" itemscope="" itemtype="http://schema.org/ImageObject">
    <article class="w-row row">
        <div class="w-col w-col-6 centered">
            <img class="main-image" src="{{the_illustration['illustration'].url}}" width="500" alt="{{the_illustration['illustration'].caption}}" itemprop="contentURL">
            <div class="metadata-text caption">
                <span itemprop="caption">{{the_illustration['illustration'].caption}}</span>
                <span class="google"><a href="http://images.google.com/searchbyimage?gbv=2&site=search&image_url={{quote(the_illustration['illustration'].url)}}&sa=X&ei=H6RaTtb5JcTeiALlmPi2CQ&ved=0CDsQ9Q8" target="_blank" title="Google Images">google</a></span>
            </div>
            <meta itemprop="name" content="{{the_illustration['illustration'].title}}"/>
            <meta itemprop="author" content="{{the_illustration['illustration'].artist}}"/>
            <meta itemprop="datePublished" content="{{the_illustration['illustration'].year}}"/>
            <meta itemprop="contentLocation" content="{{the_illustration['illustration'].location}}"/>
        </div>
        <div class="w-col w-col-6">
            <div class="passage-reference">{{the_illustration['verse'].local_ref}}</div>
            <p>{{the_illustration['verse'].string}}</p>
        </div>
    </article>
</div>
<div class="w-container container thumbnail-container">
    {% if prev %}
    <a href="{{url(date=next, form=data['form'], lang=lang)}}">
        <img class="arrow" src="/img/forw.png" alt="{{translate('next-mass-day', lang).string}}">
    </a>
    {% endif %}
    {% if next %}
    <a href="{{url(date=prev, form=data['form'], lang=lang)}}">
        <img class="arrow" src="/img/back.png" alt="{{translate('previous-mass-day', lang).string}}">
    </a>
    {% endif %}
    {% if the_other_illustrations %}
    {% for illustration in the_other_illustrations %}
    <a href="{{url(date=data['date'], form=data['form'], illustration=illustration, lang=lang)}}" title="{{illustration['illustration'].caption}}">
        <div class="thumbnail-box" style="background-image: url('{{illustration['illustration'].url}}=s68-c'); background-size: cover; background-repeat: no-repeat;"></div>
    </a>
    {% endfor %}
    {% endif %}
</div>
<footer class="footer-section">
    <div class="w-container button-container">
        <div class="w-form">
            <form class="w-clearfix" name="email-form" data-name="Email Form">
                {% for other_lang in languages %}
                {% if other_lang != lang %}
                <a href="{{url(date=data['date'], form=data['form'], illustration=the_illustration, lang=other_lang)}}">
                    <input class="w-button button language" type="button" value="{{translate(other_lang, lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% endif %}
                {% endfor %}
                {% if lang == 'nl' %}
                {% set hash = re.sub("(.*) (.*):.*", "\g<1>-\g<2>", the_illustration['verse'].local_ref) %}
                <a href="https://storage.googleapis.com/geloven-leren/books/canisius.html#{{hash}}" target="_blank">
                    <input class="w-button button" type="button" value="Bijbel" data-wait="Please wait..."></input>
                </a>
                {% endif %}
                <a href="{{url(lang=lang, form=data['form'])}}">
                    <input class="w-button button" type="button" value="{{translate('today', lang).string}}" data-wait="Please wait..."></input>
                </a>
                <a href="{{subscription_form}}" target="_blank" rel="nofollow">
                    <input class="w-button button" type="button" value="{{translate('subscribe', lang).string}}" data-wait="Please wait..."></input>
                </a>
                <div class="link">
                    <a href="javascript:window.print()" rel="nofollow">
                        <input id="print" class="w-button button" type="button" value="{{translate("print", lang).string}}" data-wait="Please wait..."></input>
                    </a>
                </div>
                <a href="/print/{{lang}}">
                    <input class="w-button button" type="button" value="{{translate('print-your-own-missal', lang).string}}" data-wait="Please wait..."></input>
                </a>
                <a href="/inventory/{{lang}}">
                    <input class="w-button button" type="button" value="{{translate('search', lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% if data['form'] == 'of' %}
                <a href="{{url(date=data['date'], form='eo', lang=lang)}}">
                    <input class="w-button button" type="button" value="{{translate("extraordinary-form", lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% else %}
                <a href="{{url(date=data['date'], form='of', lang=lang)}}">
                    <input class="w-button button" type="button" value="{{translate("ordinary-form", lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% endif %}
            </form>
        </div>
    </div>
</footer>
<div class="w-container">
<div class="w-row social">
  <div class="w-col w-col-2">
    <div class="w-widget w-widget-gplus">
      <div class="g-plusone" data-href="{{url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang)}}" data-size="standard" data-annotation="bubble" data-width="120" data-recommendations="false" id="___plusone_0" style="width: 106px; height: 24px; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; background-position: initial initial; background-repeat: initial initial;"></div>
    </div>
  </div>
  <div class="w-col w-col-2">
    <div class="w-widget w-widget-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <!--iframe src="https://platform.twitter.com/widgets/tweet_button.html#url={{quote('http://www.missale.net' + url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang), safe='')}}&amp;text=&amp;count=horizontal&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true"
      style="border: none; overflow: hidden; width: 110px; height: 20px;"></iframe-->
    </div>
  </div>
  <div class="w-col w-col-3">
    <div class="w-widget w-widget-facebook">
      <iframe src="https://www.facebook.com/plugins/like.php?href={{quote('http://www.missale.net' + url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang), safe='')}}&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe>
    </div>
  </div>
  <div class="w-col w-col-2">
      <a href="//www.pinterest.com/pin/create/button/?url={{quote('http://www.missale.net' + url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang), safe='')}}&media={{quote(the_illustration['illustration'].url)}}&description={{quote(the_mass['i18n'].string.encode('utf8') + ' | ' + data['date'].date.strftime('%Y').encode('utf8') + ' | ' + translate('catholic-mass-readings', lang).string.encode('utf8') + ' | ' + the_illustration['illustration'].caption.encode('utf8') + ' | ' + the_illustration['verse'].local_ref.encode('utf8') + ' | ' + the_illustration['verse'].string.encode('utf8'))}}" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="white"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png" /></a>
      <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
  <div class="w-col w-col-3" style="text-align:right;">
      <a href="mailto:info@missale.net" style="text-decoration:none;color:#333;"/><i>info@missale.net</i></a>
  </div>
</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37368530-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
    $(function(){
        _gaq.push(['_trackEvent', 'day', 'view', '{{url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang)}}']);
        $('input#print').on('click', function() {
            _gaq.push(['_trackEvent', 'day', 'print', '{{url(date=data['date'], form=data['form'], illustration=the_illustration, lang=lang)}}']);
        })
    });
</script>
<script type="text/javascript" src="/scripts/webflow.js"></script>
</body>
</html>
