<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Missale</title>
    <meta name="description" content="Images Inventory - browse all images">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://www.missale.net/inventory">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/webflow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/missale.webflow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/missale-print.css" media="print">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Lato:100,300,400,700,900", "Open Sans:300,400,600,700,800"]
            }
        });
    </script>
    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4900184670214000004_favicon.png">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4b499bd27b767000001_webclip.png">
    <meta name="google-site-verification" content="LPLr98PKcDGB4mcbWAAtCdSnrGUX1MmdLraUFss3hk4" />
</head>
<body>
<header class="header-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-hidden-small w-hidden-tiny header-image">
                <div class="logo">MISSALE.NET</div>
                <div class="subtitle">{{translate("readings-from-the-bible-for-the-roman-catholic-liturgy", lang).string}}</div>
            </div>
            <div class="w-col w-col-6 title">
                <h1 itemprop="name">{{translate("search-missal-illustrations", lang).string}}</h1>
            </div>
        </div>
    </div>
</header>
<div class="w-container container" itemscope="" itemtype="http://schema.org/ImageObject">
    <article class="w-row row">
        <table id="inventory" class="display">
            <thead>
                <tr>
                    <th>{{translate("illustrations", lang).string}}</th>
                    <th></th>
                    <th>{{translate("bible-references", lang).string}}</th>
                    <th>{{translate("ordinary-form", lang).string}}</th>
                    <th>{{translate("extraordinary-form", lang).string}}</th>
                </tr>
            </thead>
            <tbody>
                {% for i in illustrations %}
                <tr>
                    <td>
                        <a href="{{i['url']}}" target="_blank" title="{{i['caption']}}">
                            <div class="thumbnail-box" style="background-image: url('{{i['url']}}=s68-c'); background-size: cover; background-repeat: no-repeat;"></div>
                        </a>
                    </td>
                    <td>
                        {{i['caption']}}
                    </td>
                    <td data-sort="{{padded_book_index(i['book'])}}{{i['bibleref-begin']}}">{{translate_bibleref(i['passageReference'],lang).local_ref}}</td>
                    <td>
                        <ul>
                            {% for m in i['masses'] %}
                            {% if m['form'] == 'of' %}
                            <li>{% if m['first_occurrence'] %}<a href="/of/{{m['first_occurrence']}}/{{lang}}/{{i['filename']}}" target="_blank">{% endif %}{{m['i18n'].string}}{% if m['first_occurrence'] %}</a>{% endif %}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for m in i['masses'] %}
                            {% if m['form'] == 'eo' %}
                            <li>{% if m['first_occurrence'] %}<a href="/eo/{{m['first_occurrence']}}/{{lang}}/{{i['filename']}}" target="_blank">{% endif %}{{m['i18n'].string}}{% if m['first_occurrence'] %}</a>{% endif %}</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
</div>
<footer class="footer-section">
    <div class="w-container button-container">
        <div class="w-form">
            <form class="w-clearfix" name="email-form" data-name="Email Form">
                {% for other_lang in languages %}
                {% if other_lang != lang %}
                <a href="http://www.missale.net/inventory/{{other_lang}}">
                    <input class="w-button button language" type="button" value="{{translate(other_lang, lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% endif %}
                {% endfor %}
                <a href="http://www.missale.net/{{lang}}">
                    <input class="w-button button" type="button" value="Missale" data-wait="Please wait..."></input>
                </a>
            </form>
        </div>
        <p class="filtertext">{{translate("intro-project", lang).string}}</p>
        <p class="filtertext">info@missale.net</p>
    </div>
</footer>
<div class="w-container">
<div class="w-row social">
    <div class="w-col w-col-3">
        <div class="w-widget w-widget-gplus">
            <div class="g-plusone" data-href="http://www.missale.net/inventory/{{lang}}" data-size="standard" data-annotation="bubble" data-width="120" data-recommendations="false" id="___plusone_0" style="width: 106px; height: 24px; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; background-position: initial initial; background-repeat: initial initial;"></div>
        </div>
    </div>
    <div class="w-col w-col-3">
        <div class="w-widget w-widget-twitter">
            <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url={{quote('http://www.missale.net/inventory/' + lang, safe='')}}&amp;text=&amp;count=horizontal&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true"
                    style="border: none; overflow: hidden; width: 110px; height: 20px;"></iframe>
        </div>
    </div>
    <div class="w-col w-col-3">
        <div class="w-widget w-widget-facebook">
            <iframe src="https://www.facebook.com/plugins/like.php?href={{quote('http://www.missale.net/inventory/' + lang, safe='')}}&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe>
        </div>
    </div>
    <div class="w-col w-col-3" style="text-align:right;">
        <a href="mailto:info@missale.net" style="text-decoration:none;color:#333;"/><i>info@missale.net</i></a>
    </div>
</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37368530-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="/scripts/webflow.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#inventory').DataTable({
            'pageLength': 50,
            'order':  [[2, 'asc']],
            'columns': [
                {'orderable': false, searchable: false},  // 0 image thumbnail
                {'orderable': false, searchable: true},  // 1 image caption
                {'orderable': true, searchable: true},  // 2 bible reference
                {'orderable': false, searchable: true},  // 3 masses of
                {'orderable': false, searchable: true}  // 4 masses eo
            ],
            {% if lang == 'nl' %}
            'language':  {
                "sProcessing": "Bezig...",
                "sLengthMenu": "_MENU_ resultaten weergeven",
                "sZeroRecords": "Geen resultaten gevonden",
                "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                "sInfoEmpty": "Geen resultaten om weer te geven",
                "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                "sInfoPostFix": "",
                "sSearch": "Zoeken:",
                "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                "sInfoThousands": ".",
                "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                "oPaginate": {
                    "sFirst": "Eerste",
                    "sLast": "Laatste",
                    "sNext": "Volgende",
                    "sPrevious": "Vorige"
                }
            }
            {% endif %}
            {% if lang == 'fr' %}
                'language': {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    }
                }
                {% endif %}
        });
    });
</script>
</body>
</html>
