<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{translate("print-your-own-missal", lang).string}}</title>
    <meta name="description" content="{{translate('readings-from-the-gospel-for-the-catholic-mass-according-to-the-liturgy-calendar-', lang).string}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/webflow.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/missale.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Lato:100,300,400,700,900","Open Sans:300,400,600,700,800"]
            }
        });
    </script>
    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4900184670214000004_favicon.png">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52d934e8cf2c57b94e0010e6/52ded4b499bd27b767000001_webclip.png">
</head>
<body>
<header class="header-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-hidden-small w-hidden-tiny header-image">
                <div class="logo">MISSALE.NET</div>
                <div class="subtitle">{{translate("readings-from-the-bible-for-the-roman-catholic-liturgy", lang).string}}</div>
            </div>
            <div class="w-col w-col-6 title">
                <h1>{{translate("print-your-own-missal", lang).string}}</h1>
            </div>
        </div>
    </div>
</header>
<div class="footer-section">
    <div class="w-container filterset">
        <div class="filtertextcontainer">
            <p class="filtertext">{{translate("web-man-participating", lang).string}}</p>
        </div>
        <div class="w-row">
            <div class="w-col w-col-3">
                <h1>{{translate("web-man-forms-heading", lang).string}}</h1>
                <p class="filtertext">{{translate("web-man-forms", lang).string}}</p>
            </div>
            <div class="w-col w-col-3">
                <h1>{{translate("web-man-order-vs-reading-heading", lang).string}}</h1>
                <p class="filtertext">{{translate("web-man-order-vs-reading", lang).string}}</p>
            </div>
            <div class="w-col w-col-3">
                <h1>{{translate("web-man-calendar-heading", lang).string}}</h1>
                <p class="filtertext">{{translate("web-man-calendar", lang).string}}</p>
            </div>
            <div class="w-col w-col-3">
                <h1>{{translate("web-man-cycles-heading", lang).string}}</h1>
                <p class="filtertext">{{translate("web-man-cycles", lang).string}}</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="w-container filterset">
        <div class="w-row">
            <div class="w-col w-col-3">
                <div class="w-form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-button button filter form disabled" type="button" value="{{translate("web-man-forms-heading", lang).string}}" data-wait="Please wait..."></input>
                        <div class="checkbox-and-label form disabled">
                            <input id="of" class="checkbox" type="checkbox" value="of"/>
                            <label for="of">{{translate("ordinary-form", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label form disabled">
                            <input id="eo" class="checkbox" type="checkbox" value="eo"/>
                            <label for="eo">{{translate("extraordinary-form", lang).string}}</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-col w-col-3">
                <div class="w-form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-button button filter scope disabled" type="button" value="{{translate("web-man-order-vs-reading-heading", lang).string}}" data-wait="Please wait..."></input>
                        <div class="checkbox-and-label scope disabled">
                            <input id="lectionary" class="checkbox" type="checkbox" value="lectionary"/>
                            <label for="lectionary">{{translate("readings-from-the-bible", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label scope disabled">
                            <input id="ordomissae" class="checkbox" type="checkbox" value="ordomissae"/>
                            <label for="ordomissae">{{translate("fixed-prayers-of-the-mass", lang).string}}</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-col w-col-3">
                <div class="w-form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-button button filter season disabled" type="button" value="{{translate("web-man-calendar-heading", lang).string}}" data-wait="Please wait..."></input>
                        <div class="checkbox-and-label season disabled">
                            <input id="all" class="checkbox" type="checkbox" value="all"/>
                            <label for="all">{{translate("whole-year", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label season disabled">
                            <input id="nativ" class="checkbox" type="checkbox" value="nativ"/>
                            <label for="nativ">{{translate("christmas-season", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label season disabled">
                            <input id="pascha" class="checkbox" type="checkbox" value="pascha"/>
                            <label for="pascha">{{translate("easter-season", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label season disabled">
                            <input id="annum" class="checkbox" type="checkbox" value="annum"/>
                            <label for="annum">{{translate("ordinary-time", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label season disabled">
                            <input id="feasts" class="checkbox" type="checkbox" value="feasts"/>
                            <label for="feasts">{{translate("feasts", lang).string}}</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-col w-col-3">
                <div class="w-form">
                    <form name="email-form" data-name="Email Form">
                        <input class="w-button button filter cycle disabled" type="button" value="{{translate("web-man-cycles-heading", lang).string}}" data-wait="Please wait..."></input>
                        <div class="checkbox-and-label cycle disabled">
                            <input id="abc" class="checkbox" type="checkbox" value="abc"/>
                            <label for="abc">{{translate("year-abc", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label cycle disabled">
                            <input id="a" class="checkbox" type="checkbox" value="a"/>
                            <label for="a">{{translate("year-a", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label cycle disabled">
                            <input id="b" class="checkbox" type="checkbox" value="b"/>
                            <label for="b">{{translate("year-b", lang).string}}</label>
                        </div>
                        <div class="checkbox-and-label cycle disabled">
                            <input id="c" class="checkbox" type="checkbox" value="c"/>
                            <label for="c">{{translate("year-c", lang).string}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-container book-overview">
    {% for e in pagecount %}
    <div class="book-block" id="{{e['edition_only']}}" itemscope itemtype="http://schema.org/Book">
        <a target="_blank" href="https://googledrive.com/host/0B-659FdpCliwamhTYnRRb2tISFE/configuration_{{e['edition']}}.pdf">
            <img class="book-cover" src="https://googledrive.com/host/0B-659FdpCliwbUFoeXFoWjlvUnM/configuration_{{e['edition']}}.pdf.png" alt="{{translate(e['edition_only'],lang).string}}">
        </a>
        <div class="book-description-and-buttons">
            <p class="book-description" itemprop="description">{{translate(e['edition_only'],lang).string}} ({{e['pagecount']}} {{translate('pages',lang).string}})</p>
        </div>
        <a target="_blank" href="{{lang}}/{{e['edition_only']}}" itemprop="url">
            <input class="w-button button" type="button" value="{{translate('print-your-own-missal',lang).string}}" data-wait="Please wait..."></input>
        </a>
        <meta itemprop="name" content="{{translate('missal',lang).string}}"/>
    </div>
    {% endfor %}
</div>
<footer class="footer-section">
    <div class="w-container button-container">
        <div class="w-form">
            <form class="w-clearfix" name="email-form" data-name="Email Form">
                {% for other_lang in languages %}
                {% if other_lang != lang %}
                <a href="http://www.missale.net/print/{{other_lang}}">
                    <input class="w-button button language" type="button" value="{{translate(other_lang, lang).string}}" data-wait="Please wait..."></input>
                </a>
                {% endif %}
                {% endfor %}
                <a href="http://www.missale.net/{{lang}}">
                    <input class="w-button button" type="button" value="Missale" data-wait="Please wait..."></input>
                </a>
            </form>
        </div>
        <p class="filtertext">{{translate("intro-project", lang).string}}</p>
        <p class="filtertext">info@missale.net</p>
    </div>
</footer>
<div class="w-container">
    <div class="w-row social">
        <div class="w-col w-col-3">
            <div class="w-widget w-widget-gplus">
                <div class="g-plusone" data-href="http://www.missale.net/print/{{lang}}" data-size="standard" data-annotation="bubble" data-width="120" data-recommendations="false" id="___plusone_0" style="width: 106px; height: 24px; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; background-position: initial initial; background-repeat: initial initial;"></div>
            </div>
        </div>
        <div class="w-col w-col-3">
            <div class="w-widget w-widget-twitter">
                <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url={{quote('http://www.missale.net/print/' + lang, safe='')}}&amp;text=&amp;count=horizontal&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true"
                        style="border: none; overflow: hidden; width: 110px; height: 20px;"></iframe>
            </div>
        </div>
        <div class="w-col w-col-3">
            <div class="w-widget w-widget-facebook">
                <iframe src="https://www.facebook.com/plugins/like.php?href={{quote('http://www.missale.net/print/' + lang, safe='')}}&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/webflow.js"></script>
<script type="text/javascript">
    var ignoreHashChange = false;
    function form_button_clicked(button) {
        if ($(button).hasClass('disabled')) {
            $(button).siblings('div').addClass('disabled');
        } else {
            $(button).siblings('div').removeClass('disabled');
            if (! $(button).parent().find('input:checked').length) {
                $(button).parent().find('input:checkbox').first().prop('checked', true);
            }
        }
    }
    function form_season_changed(input) {
        if (input.checked) {
            if (input.id == 'all') {
                // user has checked the 'all' box
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = true;
                });
            }
            else {
                // user has checked another box, that was originally unchecked
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = false;
                });
            }
        } else {
            if ( input.id == 'all' ) {
                // user has unchecked the 'all box'
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = false;
                    // TODO none selected now... is that OK?
                })
            } else {
                if ($('input#all')[0].checked) {
                    // user has unchecked another box, while originally all were checked
                    // so let's assume that he actually wants only this box to be checked
                    $(input).parent().siblings('div').find('input').each(function(){
                        this.checked = false;
                    });
                    input.checked = true;
                } else {
                    // user has unchecked another box, while it was the only one checked
                    null;
                    // TODO none selected now... is that OK?
                }
            }
        }
    }
    function form_cycle_changed(input) {
        if (input.checked) {
            if (input.id == 'abc') {
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = true;
                });
            }
            else {
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = false;
                });
            }
        } else {
            if ( input.id != 'abc' && ! $(input).parent().siblings('div').find('input:not(:checked)').length) {
                input.checked = true;
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = false;
                })
            } else {
                $(input).parent().siblings('div').find('input').each(function(){
                    this.checked = false;
                })
            }
        }
    }
    $(document).ready(function() {
        $('.button.filter').on('click', function(){
            if ($(this).hasClass('disabled')) {
                $(this).removeClass('disabled');
            } else {
                $(this).addClass('disabled');
            }
            form_button_clicked(this);
            filter();
            update_hash();
        });
        $('.form input').on('change', function(){
            filter();
            update_hash();
        });
        $('.scope input').on('change', function(){
            filter();
            update_hash();
        });
        $('.season input').on('change', function(){
            form_season_changed(this);
            filter();
            update_hash();
        });
        $('.cycle input').on('change', function(){
            form_cycle_changed(this);
            filter();
            update_hash();
        });
        $(window).on('hashchange', function() {
            read_hash();
        });
        read_hash();
        filter();
    });
    function read_hash() {
        if (ignoreHashChange) {
            ignoreHashChange = false;
        } else {
            // read the hash string to set the required filter settings
            var hash = window.location.hash;
            if (hash.indexOf('form') > -1) {
                $('input.filter.form').removeClass('disabled');
                form_button_clicked($('input.filter.form')[0]);
                if (hash.indexOf('form-of') > -1) $('input#of').prop('checked', true)
                else $('input#of').prop('checked', false);
                if (hash.indexOf('form-eo') > -1) $('input#eo').prop('checked', true)
                else $('input#eo').prop('checked', false);
            } else {
                $('input.filter.form').addClass('disabled');
                form_button_clicked($('input.filter.form')[0]);
            }
            if (hash.indexOf('scope') > -1) {
                $('input.filter.scope').removeClass('disabled');
                form_button_clicked($('input.filter.scope')[0]);
                if (hash.indexOf('scope-lectionary') > -1) $('input#lectionary').prop('checked', true)
                else $('input#lectionary').prop('checked', false);
                if (hash.indexOf('scope-ordomissae') > -1) $('input#ordomissae').prop('checked', true)
                else $('input#ordomissae').prop('checked', false);
            } else {
                $('input.filter.scope').addClass('disabled');
                form_button_clicked($('input.filter.scope')[0]);
            }
            if (hash.indexOf('season') > -1) {
                $('input.filter.season').removeClass('disabled');
                form_button_clicked($('input.filter.season')[0]);
                if (hash.indexOf('season-nativ') > -1) $('input#nativ').prop('checked', true)
                else $('input#nativ').prop('checked', false);
                if (hash.indexOf('season-pascha') > -1) $('input#pascha').prop('checked', true)
                else $('input#pascha').prop('checked', false);
                if (hash.indexOf('season-annum') > -1) $('input#annum').prop('checked', true)
                else $('input#annum').prop('checked', false);
                if (hash.indexOf('season-feasts') > -1) $('input#feasts').prop('checked', true)
                else $('input#feasts').prop('checked', false);
                if (hash.indexOf('season-all') > -1) $('input#all').prop('checked', true)
                else $('input#all').prop('checked', false);
            } else {
                $('input.filter.season').addClass('disabled');
                form_button_clicked($('input.filter.season')[0]);
            }
            if (hash.indexOf('cycle') > -1) {
                $('input.filter.cycle').removeClass('disabled');
                form_button_clicked($('input.filter.cycle')[0]);
                if (hash.indexOf('cycle-abc') > -1) $('input#abc').prop('checked', true)
                else $('input#abc').prop('checked', false);
                if (hash.indexOf('cycle--a') > -1) $('input#a').prop('checked', true)
                else $('input#a').prop('checked', false);
                if (hash.indexOf('cycle--b') > -1) $('input#b').prop('checked', true)
                else $('input#b').prop('checked', false);
                if (hash.indexOf('cycle--c') > -1) $('input#c').prop('checked', true)
                else $('input#c').prop('checked', false);
            } else {
                $('input.filter.cycle').addClass('disabled');
                form_button_clicked($('input.filter.cycle')[0]);
            }
            filter();
        }
    }
    function update_hash() {
        // read the filter settings and generate a hash string
        var hash = [];
        var form_switch = ! $('input.form').hasClass('disabled');
        var scope_switch = ! $('input.scope').hasClass('disabled');
        var season_switch = ! $('input.season').hasClass('disabled');
        var cycle_switch = ! $('input.cycle').hasClass('disabled');
        if (scope_switch) {
            var scope_lectionary = $('#lectionary').is(':checked');
            var scope_ordomissae = $('#ordomissae').is(':checked');
            if (scope_lectionary) hash.push('scope-lectionary');
            if (scope_ordomissae) hash.push('scope-ordomissae');
        }
        if (form_switch) {
            var form_of = $('#of').is(':checked');
            var form_eo = $('#eo').is(':checked');
            if (form_of) hash.push('form-of');
            if (form_eo) hash.push('form-eo');
        }
        if (season_switch) {
            var season_all = $('#all').is(':checked');
            var season_nativ = $('#nativ').is(':checked');
            var season_pascha = $('#pascha').is(':checked');
            var season_annum = $('#annum').is(':checked');
            var season_feasts = $('#feasts').is(':checked');
            if (season_nativ) hash.push('season-nativ');
            if (season_pascha) hash.push('season-pascha');
            if (season_annum) hash.push('season-annum');
            if (season_feasts) hash.push('season-feasts');
            if (season_all) hash.push('season-all');
        }
        if (cycle_switch) {
            var cycle_abc = $('#abc').is(':checked');
            var cycle_a = $('#a').is(':checked');
            var cycle_b = $('#b').is(':checked');
            var cycle_c = $('#c').is(':checked');
            if (cycle_abc) hash.push('cycle-abc');
            if (cycle_a) hash.push('cycle--a');
            if (cycle_b) hash.push('cycle--b');
            if (cycle_c) hash.push('cycle--c');
        }
        ignoreHashChange = true;
        window.location.hash = "-" + hash.join('-');
    }
    function filter() {
        var form_switch = ! $('input.form').hasClass('disabled');
        var scope_switch = ! $('input.scope').hasClass('disabled');
        var season_switch = ! $('input.season').hasClass('disabled');
        var cycle_switch = ! $('input.cycle').hasClass('disabled');
        if (scope_switch) {
            var scope_lectionary = $('#lectionary').is(':checked');
            var scope_ordomissae = $('#ordomissae').is(':checked');
        }
        if (form_switch) {
            var form_of = $('#of').is(':checked');
            var form_eo = $('#eo').is(':checked');
        }
        if (season_switch) {
            var season_all = $('#all').is(':checked');
            var season_nativ = $('#nativ').is(':checked');
            var season_pascha = $('#pascha').is(':checked');
            var season_annum = $('#annum').is(':checked');
            var season_feasts = $('#feasts').is(':checked');
        }
        if (cycle_switch) {
            var cycle_abc = $('#abc').is(':checked');
            var cycle_a = $('#a').is(':checked');
            var cycle_b = $('#b').is(':checked');
            var cycle_c = $('#c').is(':checked');
        }
        // check for each book if it matches the filter criteria
        $('.book-block').each(function() {
            var edition = this.id;
            var visible = true;
            if (scope_switch) {
                if (edition.match(/ordo-lectio-/) && (! scope_ordomissae || ! scope_lectionary)) {
                    visible = false;
                }
                else if (edition.match(/ordo-/) && ! edition.match(/lectio-/) && (! scope_ordomissae || scope_lectionary)) {
                    visible = false;
                }
                else if (edition.match(/lectio-/) && ! edition.match(/ordo-/) && (! scope_lectionary || scope_ordomissae)) {
                    visible = false;
                }
            }
            if (form_switch) {
                if (edition.match(/-1962-1969/) && (! form_of || ! form_eo)) {
                    visible = false;
                }
                else if (edition.match(/-1969/) && ! edition.match(/-1962/) && (! form_of || form_eo)) {
                    visible = false;
                }
                else if (edition.match(/-1962/) && ! edition.match(/-1969/) && (! form_eo || form_of)) {
                    visible = false;
                }
            }
            if (season_switch) {
                if (edition.match(/-nativ|-pascha|-annum|-fst/) && season_all) {
                    visible = false;
                }
                else if (edition.match(/-nativ/) && ! season_nativ) {
                    visible = false;
                }
                else if (edition.match(/-pascha/) && ! season_pascha) {
                    visible = false;
                }
                else if (edition.match(/-annum/) && ! season_annum) {
                    visible = false;
                }
                else if (edition.match(/-fst/) && ! season_feasts) {
                    visible = false;
                }
                else if (! edition.match(/-nativ/) && season_nativ && ! season_all) {
                    visible = false;
                }
                else if (! edition.match(/-pascha/) && season_pascha && ! season_all) {
                    visible = false;
                }
                else if (! edition.match(/-annum/) && season_annum && ! season_all) {
                    visible = false;
                }
                else if (! edition.match(/-fst/) && season_feasts && ! season_all) {
                    visible = false;
                }
            }
            if (cycle_switch) {
                if (edition.match(/-a($|-)|-b|-c/) && cycle_abc) {
                    visible = false;
                }
                else if (edition.match(/-a($|-)/) && ! cycle_a) {
                    visible = false;
                }
                else if (edition.match(/-b/) && ! cycle_b) {
                    visible = false;
                }
                else if (edition.match(/-c/) && ! cycle_c) {
                    visible = false;
                }
                else if (! edition.match(/-a($|-)/) && cycle_a && ! cycle_abc) {
                    visible = false;
                }
                else if (! edition.match(/-b/) && cycle_b && ! cycle_abc) {
                    visible = false;
                }
                else if (! edition.match(/-c/) && cycle_c && ! cycle_abc) {
                    visible = false;
                }
            }
            if (visible) $(this).show()
            else $(this).hide();
        });
    };
</script>
<!-- smartlook includes -->
<script type="text/javascript">
     var issuuConfig = {
       guid: '9150d001-52fd-4711-ad40-36b0b9db52f4',
       domain: '*.googledrive.com'
     };
</script>
<script type="text/javascript">
     document.write(unescape("%3Cscript src='http://static.issuu.com/smartlook/ISSUU.smartlook.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- end smartlook includes -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37368530-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
    $(function(){
        _gaq.push(['_trackEvent', 'catalog', 'view']);
        $('img.book-cover').on('click', function() {
            _gaq.push(['_trackEvent', 'catalog', 'smartlook', $(this).closest('div').attr('id')]);
        })
    });
</script>
</body>
</html>